.main-logo{
    width: 50px;
    margin-left: 38px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .home{
    width:25px;
    margin-right: 15px;
  }
  .explore{
    width:25px;
    margin-right: 15px;
  }
  .bell{
    width:25px;
    margin-right: 15px;
  }
  .mail{
    width:25px;
    margin-right: 15px;
  }
  .mark{
    width:25px;
    margin-right: 15px;
  }
  .list{
    width:25px;
    margin-right: 15px;
  }
  .more{
    width:25px;
    margin-right: 15px;
  }
  .profile{
    width: 36px;
    margin-right: 5px;
    border-radius: 50%;
  }
  body{
    background-color: #141f27;
  
  }
  ul{
    color: white;
    list-style: none;
  }
  .img{
    margin-bottom: 30px;
    font-size: 25px;
  }
  .img:hover{
  color: #10d0ff;
  cursor: pointer;
}