button{
  position: relative;
  left: 60%;
  top: 200px;
  height: 50px;
  width: 90px;
  font-size: 20px;
  background-color: #10d0ff;
}
p{
  color: white;
  position: relative;
  left: 50%;
  font-size: 30px;
  top: 280px;
}
h3{
  color: white;
  position: relative;
  left: 20%;
}
.vertical {
  border-left: 1px solid grey;
  height: 100%;
  position: absolute;
  left: 20%;
  margin-left: -3px;
}
hr{
  border-bottom-color: grey;


}
